


.primary-bg-dark {
    --tw-bg-opacity: 1;
    background-color: hwb(223 9% 85%);
}
.primary-bg-light {
    --tw-bg-opacity: 1;
    background-color: #cccfbc
}

.primary-font{
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      
      
}
.border-glow:hover{
    box-shadow: 0px 5px 50px 0px #007ACC;
}
.hero-img{
    background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
    
}
.glass{
    background:rgba(54, 54, 56, 0.15);

}
/* .selected{
    background-color: #b1dce9;
    color: #181C26;
    
} */
.selected{
    background-color: #b1dce9;
    color: #181C26;
    transition: background-color 0.4s ease-in;
}
.blue-glass-admin{
    background:hsl(224, 17%, 17%);
/* box-shadow: 0 8px 32px 0 #202430; */
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

/* .primary-bg {
    
    background-color: rgb(24 28 38 / 1);
background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
} */
*{
    margin: 0;
  padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-color:   rgba(160, 200, 287, 0.431) hwb(223 9% 85%)

}

body {
    padding-top: 0px; /* Adjust this value to match the height of your navbar */
    background-color: rgb(24 28 38 / 1);
    
  }
  
  