

.primary-bg {
    --tw-bg-opacity: 1;
    background-color: hwb(223 9% 85%);
}

.primary-font{
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      
      
}
.border-glow:hover{
    box-shadow: 0px 5px 50px 0px #007ACC;
}
.hero-img{
    background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
    
}
.glass{
    background:rgba(54, 54, 56, 0.15);;
}

/* .primary-bg {
    
    background-color: rgb(24 28 38 / 1);
background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
} */
*{
    margin: 0;
  padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

body {
    padding-top: 0px; /* Adjust this value to match the height of your navbar */
    background-color: rgb(24 28 38 / var(--tw-bg-opacity));
    scrollbar-color:   hsla(203, 90%, 39%, 0.13) #181c26;
  }
  
  